::-moz-selection {
    background-color: #da291c;
    color: #fff;
}

::selection {
    background-color: #da291c;
    color: #fff;
}

::-webkit-input-placeholder {
    color: #777777;
    font-weight: 300;
}

:-moz-placeholder {
    color: #777777;
    opacity: 1;
    font-weight: 300;
}

::-moz-placeholder {
    color: #777777;
    opacity: 1;
    font-weight: 300;
}

:-ms-input-placeholder {
    color: #777777;
    font-weight: 300;
}

::-ms-input-placeholder {
    color: #777777;
    font-weight: 300;
}

body {
    color: #666;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
    position: relative;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

select {
    display: block;
}

figure {
    margin: 0;
}

a {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

iframe {
    border: 0;
}

a,
a:focus,
a:hover {
    text-decoration: none;
    outline: 0;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
    text-decoration: none;
    outline: 0;
}

.card-panel {
    margin: 0;
    padding: 60px;
}

.btn i,
.btn-large i,
.btn-floating i,
.btn-large i,
.btn-flat i {
    font-size: 1em;
    line-height: inherit;
}

.gray-bg {
    background: #f9f9ff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lora", serif;
    color: #15181d;
    line-height: 1.1em;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 700;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0;
    margin-top: 0;
    font-family: "Lora", serif;
    font-weight: 700;
    color: #15181d;
}

h1,
.h1 {
    font-size: 36px;
}

h2,
.h2 {
    font-size: 42px;
}

h3,
.h3 {
    font-size: 24px;
}

h4,
.h4 {
    font-size: 20px;
}

h5,
.h5 {
    font-size: 16px;
}

h6,
.h6 {
    font-size: 14px;
}

td,
th {
    border-radius: 0px;
}

.clear::before,
.clear::after {
    content: " ";
    display: table;
}

.clear::after {
    clear: both;
}

.fz-11 {
    font-size: 11px;
}

.fz-12 {
    font-size: 12px;
}

.fz-13 {
    font-size: 13px;
}

.fz-14 {
    font-size: 14px;
}

.fz-15 {
    font-size: 15px;
}

.fz-16 {
    font-size: 16px;
}

.fz-18 {
    font-size: 18px;
}

.fz-30 {
    font-size: 30px;
}

.fz-48 {
    font-size: 48px !important;
}

.fw100 {
    font-weight: 100;
}

.fw300 {
    font-weight: 300;
}

.fw400 {
    font-weight: 400 !important;
}

.fw500 {
    font-weight: 500;
}

.f700 {
    font-weight: 700;
}

.fsi {
    font-style: italic;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-35 {
    margin-top: 35px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-70 {
    margin-top: 70px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-120 {
    margin-top: 120px;
}

.mt-150 {
    margin-top: 150px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-30 {
    margin-left: 30px;
}

.ml-50 {
    margin-left: 50px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-30 {
    margin-right: 30px;
}

.mr-50 {
    margin-right: 50px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-70 {
    margin-bottom: 70px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-90 {
    margin-bottom: 90px;
}

.mb-100 {
    margin-bottom: 100px;
}

.pt-0 {
    padding-top: 0px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-25 {
    padding-top: 25px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-60 {
    padding-top: 60px;
}

.pt-70 {
    padding-top: 70px;
}

.pt-80 {
    padding-top: 80px;
}

.pt-90 {
    padding-top: 90px;
}

.pt-100 {
    padding-top: 100px;
}

.pt-120 {
    padding-top: 120px;
}

.pt-150 {
    padding-top: 150px;
}

.pb-0 {
    padding-bottom: 0px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-25 {
    padding-bottom: 25px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pb-70 {
    padding-bottom: 70px;
}

.pb-80 {
    padding-bottom: 80px;
}

.pb-90 {
    padding-bottom: 90px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pb-120 {
    padding-bottom: 120px;
}

.pb-150 {
    padding-bottom: 150px;
}

.pr-30 {
    padding-right: 30px;
}

.pl-30 {
    padding-left: 30px;
}

.pl-90 {
    padding-left: 90px;
}

.p-40 {
    padding: 40px;
}

.relative {
    position: relative;
}

.section-gap {
    padding: 130px 0;
}

@media (max-width: 991px) {
    .section-gap {
        padding: 80px 0;
    }
}

.section-gap-top {
    padding-top: 130px;
}

@media (max-width: 991px) {
    .section-gap-top {
        padding-top: 80px;
    }
}

.section-gap-bottom {
    padding-bottom: 130px;
}

@media (max-width: 991px) {
    .section-gap-bottom {
        padding-bottom: 80px;
    }
}

.top_text {
    font-size: 18px;
    font-weight: 400;
    color: #da291c;
}

.section-title {
    text-align: center;
    margin-bottom: 80px;
}

@media (max-width: 991px) {
    .section-title {
        margin-bottom: 40px;
    }
}

.section-title h2 {
    font-size: 42px;
    line-height: 33px;
}

@media (max-width: 991px) {
    .section-title h2 {
        font-size: 30px;
        line-height: 30px;
    }
}

.section-title h2 span {
    color: #da291c;
}

.primary-btn {
    position: relative;
    display: inline-block;
    line-height: 48px;
    color: #fff;
    padding: 0px 35px;
    font-size: 15px;
    font-weight: 400;
    outline: none !important;
    text-align: center;
    cursor: pointer;
    text-transform: capitalize;
    background: #da291c;
    border: 1px solid #da291c;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.primary-btn i {
    font-size: 11px;
}

.primary-btn:hover {
    background: transparent;
    color: #15181d;
}

.primary-btn2 {
    position: relative;
    display: inline-block;
    color: #da291c;
    font-family: "Lora", serif;
    font-size: 14px;
    font-weight: 400;
    outline: none !important;
    text-transform: capitalize;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.primary-btn2:after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -4px;
    height: 1px;
    width: 50px;
    background: #15181d;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.primary-btn2:hover {
    background: transparent;
    color: #15181d;
}

.primary-btn2:hover:after {
    background: #da291c;
}

.overlay,
.about_right .video-inner::before {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

.video-play-button {
    position: relative;
    box-sizing: content-box;
    display: inline-block;
    width: 32px;
    height: 44px;
    border-radius: 50%;
    padding: 46px 8px 18px 28px;
}

.video-play-button:before,
.video-play-button:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 2px solid #fff;
    display: block;
    width: 60px;
    height: 60px;
    background: transparent;
    border-radius: 50%;
}

.video-play-button:before {
    z-index: 0;
    -webkit-animation: pulse-border 2000ms ease-out infinite;
    -moz-animation: pulse-border 2000ms ease-out infinite;
    -o-animation: pulse-border 2000ms ease-out infinite;
    animation: pulse-border 2000ms ease-out infinite;
}

.video-play-button:after {
    z-index: 1;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.video-play-button span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 16px solid #ffffff;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

@-webkit-keyframes pulse-border {
    0% {
        -webkit-transform: translate(-50%, -50%) translateZ(0) scale(1);
        -moz-transform: translate(-50%, -50%) translateZ(0) scale(1);
        -ms-transform: translate(-50%, -50%) translateZ(0) scale(1);
        -o-transform: translate(-50%, -50%) translateZ(0) scale(1);
        transform: translate(-50%, -50%) translateZ(0) scale(1);
        opacity: 0.7;
    }

    100% {
        -webkit-transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        -moz-transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        -ms-transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        -o-transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        opacity: 0.1;
    }
}

@-moz-keyframes pulse-border {
    0% {
        -webkit-transform: translate(-50%, -50%) translateZ(0) scale(1);
        -moz-transform: translate(-50%, -50%) translateZ(0) scale(1);
        -ms-transform: translate(-50%, -50%) translateZ(0) scale(1);
        -o-transform: translate(-50%, -50%) translateZ(0) scale(1);
        transform: translate(-50%, -50%) translateZ(0) scale(1);
        opacity: 0.7;
    }

    100% {
        -webkit-transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        -moz-transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        -ms-transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        -o-transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        opacity: 0.1;
    }
}

@-o-keyframes pulse-border {
    0% {
        -webkit-transform: translate(-50%, -50%) translateZ(0) scale(1);
        -moz-transform: translate(-50%, -50%) translateZ(0) scale(1);
        -ms-transform: translate(-50%, -50%) translateZ(0) scale(1);
        -o-transform: translate(-50%, -50%) translateZ(0) scale(1);
        transform: translate(-50%, -50%) translateZ(0) scale(1);
        opacity: 0.7;
    }

    100% {
        -webkit-transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        -moz-transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        -ms-transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        -o-transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        opacity: 0.1;
    }
}

@keyframes pulse-border {
    0% {
        -webkit-transform: translate(-50%, -50%) translateZ(0) scale(1);
        -moz-transform: translate(-50%, -50%) translateZ(0) scale(1);
        -ms-transform: translate(-50%, -50%) translateZ(0) scale(1);
        -o-transform: translate(-50%, -50%) translateZ(0) scale(1);
        transform: translate(-50%, -50%) translateZ(0) scale(1);
        opacity: 0.7;
    }

    100% {
        -webkit-transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        -moz-transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        -ms-transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        -o-transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        opacity: 0.1;
    }
}

@font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.eot");
    src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/Flaticon.woff2") format("woff2"),
        url("../fonts/Flaticon.woff") format("woff"), url("../fonts/Flaticon.ttf") format("truetype"),
        url("../fonts/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: "Flaticon";
        src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
    }
}

.fi:before {
    display: inline-block;
    font-family: "Flaticon";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.flaticon-compass:before {
    content: "\f100";
}

.flaticon-desk:before {
    content: "\f101";
}

.flaticon-bathroom:before {
    content: "\f102";
}

.flaticon-beach:before {
    content: "\f103";
}

.sticky-wrapper {
    position: absolute;
    width: 100%;
    height: 80px !important;
}

.sticky-wrapper.is-sticky .default-header {
    background: #15181d;
    box-shadow: -1px 1px 15px 0px rgba(158, 158, 158, 0.3);
}

.default-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    background: transparent;
}

@media (max-width: 991px) {
    .default-header {
        background: #15181d;
    }
}

.default-header .navbar {
    padding: 22px 16px;
}

.default-header .navbar .navbar-toggler {
    border: 1px solid #fff;
    border-color: #fff;
    cursor: pointer;
}

.default-header .navbar .navbar-toggler:focus {
    outline: none;
}

.default-header .navbar .navbar-toggler span {
    color: #fff;
}

.default-header .dropdown-item {
    font-size: 14px;
    width: auto !important;
    text-align: left;
}

@media (max-width: 767px) {
    .default-header .dropdown-item {
        text-align: left;
        padding: 0.25rem;
    }
}

.default-header .dropdown-item {
    font-size: 14px;
    width: auto !important;
    text-align: left;
}

@media (max-width: 767px) {
    .default-header .dropdown-item {
        text-align: left;
        padding: 0.25rem;
    }
}

@media (min-width: 991px) {
    .default-header .dropdown .dropdown-menu {
        display: none;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 200ms ease-in;
        -moz-transition: all 200ms ease-in;
        -ms-transition: all 200ms ease-in;
        -o-transition: all 200ms ease-in;
        transition: all 200ms ease-in;
    }

    .default-header .dropdown:hover .dropdown-menu {
        display: block;
        opacity: 1;
        visibility: visible;
    }
}

.default-header .dropdown-menu {
    border-radius: 0;
    margin-top: 27px;
    border: none;
}

@media (max-width: 991px) {
    .default-header .dropdown-menu {
        margin-top: 0px;
    }
}

.default-header .dropdown-menu a {
    padding: 5px 15px;
}

@media (max-width: 767px) {
    .default-header .dropdown-menu {
        margin-top: 0px;
    }
}

.default-header .dropdown-item:focus,
.default-header .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: transparent;
}

.sticky-navbar {
    position: fixed;
    top: 0;
    left: 0;
    background: #15181d;
    border: none;
    -webkit-animation: navFadeIn 1s;
    animation: navFadeIn 1s;
}

@-webkit-keyframes navFadeIn {
    from {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}

@keyframes navFadeIn {
    from {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}

.menu-bar {
    cursor: pointer;
}

.menu-bar span {
    color: #000;
    font-size: 24px;
}

@media (max-width: 992px) {
    .navbar-nav {
        height: auto;
        max-height: 400px;
        overflow-x: hidden;
    }
}

.main-menubar {
    display: none !important;
}

@media (max-width: 991.98px) {
    .main-menubar {
        display: block !important;
    }
}

.navbar-nav a {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    padding: 32px 20px;
}

.navbar-nav a:hover,
.navbar-nav a.active {
    color: #da291c;
}

@media (max-width: 992px) {
    .navbar-nav {
        margin-top: 10px;
    }

    .navbar-nav a {
        padding: 0;
    }

    .navbar-nav li {
        padding: 10px 0;
    }
}

@media (max-width: 991px) {
    .navbar-nav .dropdown .dropdown-menu {
        background: transparent;
    }
}

.navbar-nav .dropdown .dropdown-item {
    color: #15181d;
    text-transform: capitalize;
}

.navbar-nav .dropdown .dropdown-item:hover {
    color: #da291c;
}

@media (max-width: 991px) {
    .navbar-nav .dropdown .dropdown-item {
        color: #fff;
    }
}

.parallax-mirror {
    max-height: 900px;
}

@media (max-width: 425px) {
    .home-banner-area {
        max-height: 480px;
    }
}

.home-banner-area .fullscreen {
    height: 900px;
    top: 0;
    z-index: -1;
    opacity: 0.75;
}

@media (max-width: 1199.98px) {
    .home-banner-area .fullscreen {
        height: 900px;
    }
}

.home-banner-area .overlay,
.home-banner-area .about_right .video-inner::before,
.about_right .home-banner-area .video-inner::before {
    background: rgba(21, 24, 29, 0.7);
}

.home-banner-area .banner-content {
    margin-top: 25%;
}

@media (max-width: 991px) {
    .home-banner-area .banner-content {
        margin-top: 37%;
        text-align: center;
    }
}

@media (max-width: 767px) {
    .home-banner-area .banner-content {
        margin-top: 50%;
        text-align: center;
    }
}

.home-banner-area .banner-content h1 {
    color: #fff;
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .home-banner-area .banner-content h1 {
        font-size: 40px;
    }
}

@media (max-width: 425px) {
    .home-banner-area .banner-content h1 {
        font-size: 35px;
    }
}

@media (max-width: 991.98px) {
    .home-banner-area .banner-content h1 br {
        display: none;
    }
}

.home-banner-area .banner-content h4 {
    color: #da291c;
}

.home-banner-area .banner-content .primary-btn {
    background: #fff;
    border: 1px solid #fff;
    color: #15181d;
    margin-top: 40px;
}

.home-banner-area .banner-content .primary-btn:hover {
    background: #da291c;
    color: #fff;
    border: 1px solid #da291c;
}

.banner-area .banner-content {
    min-height: 500px;
}

@media (max-width: 991px) {
    .banner-area .banner-content {
        padding-top: 100px;
    }
}

.banner-area .overlay-bg {
    background: rgba(0, 0, 0, 0.5);
}

.banner-area h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .banner-area h1 {
        font-size: 35px;
    }
}

.banner-area p {
    margin-bottom: 0px;
    color: #fff;
}

.top-section-area #imaginary_container {
    background: #fff;
    padding: 24px;
}

.top-section-area .stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #eee;
    background-color: #ececec;
}

.top-section-area .input-group-addon {
    background-color: #ececec !important;
    border-color: #eee;
}

.top-section-area .stylish-input-group button {
    border: 0;
    background: transparent;
}

.top-section-area input {
    font-size: 14px;
}

.shape-bottom img.bottom-shape {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    z-index: 0;
    width: 100%;
    margin: 0 auto;
}

.about_area {
    z-index: 1;
    position: relative;
    background: #fff;
}

.about_area .active-brand-carusel {
    margin-top: 70px;
}

.about_area .single-brand {
    text-align: center;
    filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    opacity: 0.3;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.about_area .single-brand:hover {
    filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    opacity: 1;
}

.about_area .about_details {
    padding: 130px 0px;
}

@media (max-width: 991px) {
    .about_area .about_details {
        padding: 80px 0px 0px;
    }
}

.about_area .about_details h2 {
    font-size: 48px;
    margin-bottom: 30px;
}

@media (max-width: 767px) {
    .about_area .about_details h2 {
        font-size: 30px;
    }
}

.about_area .about_bg.overlay:after {
    opacity: 0.3;
    background: #000000;
}

.about_right {
    z-index: 1;
    position: relative;
    right: 90%;
}

.about_right.overlay,
.about_right .about_right.video-inner::before {
    border-radius: 10px;
}

.about_right.overlay:after {
    background: #000;
    opacity: 0.3;
    border-radius: 10px;
}

.about_right .video-inner {
    height: 100%;
    position: relative;
}

.about_right .video-inner::before {}

.about_right .play-btn {
    z-index: 2;
}

@media (max-width: 800px) {
    .about_right {
        margin-top: 100px;
    }
}

.features-area {
    padding-bottom: 50px;
}

@media (max-width: 991px) {
    .features-area {
        padding-bottom: 50px;
    }
}

.feature-item {
    background: #ececec;
    padding: 40px;
    text-align: center;
    margin-bottom: 30px;
}

.feature-item i {
    background: #ffffff;
    padding: 22px;
    margin-bottom: 35px;
    font-size: 56px;
    display: inline-block;
    color: #da291c;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

@media (max-width: 767px) {
    .feature-item i {
        margin-bottom: 20px;
    }
}

.feature-item h4 {
    font-size: 20px;
    margin-bottom: 15px;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.feature-item p {
    margin-bottom: 0px;
}

.feature-item .primary-btn2 {
    margin-top: 40px;
}

.feature-item:hover h4 {
    color: #da291c;
}

.popular-cause-area {
    background: #fff;
    padding-bottom: 100px;
}

@media (max-width: 991px) {
    .popular-cause-area {
        padding-bottom: 50px;
    }
}

.popular-cause-area .single-popular-cause.card {
    border-radius: 0px;
    border: 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin-bottom: 30px;
    overflow: hidden;
}

.popular-cause-area .single-popular-cause p {
    margin-bottom: 0;
}

.popular-cause-area .single-popular-cause .card-body {
    padding: 0;
}

.popular-cause-area .single-popular-cause .card-img-top {
    border-radius: 0px;
}

.popular-cause-area .single-popular-cause figure {
    overflow: hidden;
    margin: 0;
}

.popular-cause-area .single-popular-cause figure img {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.popular-cause-area .single-popular-cause .card_inner_body {
    padding: 40px 30px;
    background: #ececec;
}

.popular-cause-area .single-popular-cause .card_inner_body .tag {
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    color: #da291c;
}

.popular-cause-area .single-popular-cause .card_inner_body h4 {
    font-size: 20px;
    line-height: 30px;
}

.popular-cause-area .single-popular-cause .raised_goal {
    font-size: 18px;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 20px;
}

.popular-cause-area .single-popular-cause .raised_goal span {
    color: #da291c;
}

.popular-cause-area .single-popular-cause .donation {
    padding-top: 25px;
    border-top: 1px solid #cfcfcf;
}

.popular-cause-area .single-popular-cause .donation .primary-btn {
    line-height: 38px;
    padding: 0 25px;
    font-size: 14px;
}

.popular-cause-area .single-popular-cause .donation .primary-btn:hover {
    color: #fff;
}

.popular-cause-area .single-popular-cause .donation span {
    color: #da291c;
}

.popular-cause-area .single-popular-cause:hover {
    box-shadow: 0px 12px 40px rgba(153, 153, 153, 0.2);
}

.popular-cause-area .single-popular-cause:hover img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.popular-cause-area .single-popular-cause:hover .donation .primary-btn {
    background: #15181d;
    border: 1px solid #15181d;
}

.callto-area {
    background: url(../img/ct1.jpg) center no-repeat;
    background-size: cover;
    text-align: center;
}

.callto-area .call-wrap {
    position: relative;
}

.callto-area .call-wrap p {
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    color: #fff;
}

.callto-area h1 {
    font-size: 45px;
    color: #fff;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 40px;
}

@media (max-width: 767px) {
    .callto-area h1 {
        font-size: 30px;
    }
}

.callto-area .overlay-bg {
    background: rgba(5, 10, 52, 0.7);
}

.upcoming_event_area {
    padding-bottom: 80px;
}

@media (max-width: 991px) {
    .upcoming_event_area {
        padding-bottom: 30px;
    }
}

.single_upcoming_event {
    min-height: 200px;
    background: #ececec;
    margin-bottom: 50px;
}

.single_upcoming_event figure {
    overflow: hidden;
    margin: 0;
    position: relative;
}

.single_upcoming_event figure img {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.single_upcoming_event figure .date {
    position: absolute;
    top: 0px;
    right: 0px;
    background: rgba(21, 24, 29, 0.8);
    color: #fff;
    font-size: 24px;
    text-transform: capitalize;
    font-family: "Lora", serif;
    font-weight: 700;
    padding: 18px 20px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

@media (max-width: 1024px) {
    .single_upcoming_event .content_wrapper {
        margin-top: 0;
    }
}

@media (max-width: 767px) {
    .single_upcoming_event .content_wrapper {
        padding: 20px 20px 50px;
        margin-top: 30px;
        text-align: center;
    }
}

.single_upcoming_event .content_wrapper .title {
    font-size: 20px;
    margin-bottom: 15px;
}

@media (max-width: 1024px) {
    .single_upcoming_event .content_wrapper .title {
        margin-bottom: 10px;
    }
}

.single_upcoming_event .content_wrapper .title a {
    color: #15181d;
}

.single_upcoming_event .content_wrapper .count_time {
    margin-bottom: 30px;
    margin-top: 20px;
}

@media (max-width: 1199px) and (min-width: 992px) {
    .single_upcoming_event .content_wrapper .count_time {
        display: none;
    }
}

@media (max-width: 767px) {
    .single_upcoming_event .content_wrapper .count_time {
        display: none;
    }
}

.single_upcoming_event .content_wrapper .single_time {
    position: relative;
    margin-right: 25px;
    padding-right: 25px;
}

.single_upcoming_event .content_wrapper .single_time:after {
    content: "";
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 1px;
    background: #cfcfcf;
}

.single_upcoming_event .content_wrapper .single_time:last-child {
    margin-right: 0px;
    padding-right: 0px;
}

.single_upcoming_event .content_wrapper .single_time:last-child:after {
    content: none;
}

.single_upcoming_event .content_wrapper .single_time h4 {
    font-size: 20px;
    margin-bottom: 8px;
}

.single_upcoming_event .content_wrapper .single_time p {
    margin-bottom: 0px;
}

.single_upcoming_event:hover .title a {
    color: #da291c;
}

.single_upcoming_event:hover figure .date {
    background: #da291c;
}

.single_upcoming_event:hover img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.event_details .event_content {
    margin-top: 40px;
}

.event_details .left_content h5 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

.event_details .left_content h5 i {
    color: #da291c;
    font-size: 16px;
    font-weight: 600;
    margin-right: 10px;
}

.event_details .right_content h2 {
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 20px;
}

.right_content p {
    text-align: justify;
}

@media (max-width: 991px) {
    .event_details .right_content h2 {
        font-size: 30px;
        line-height: 40px;
    }
}

.event_details .right_content p:last-child {
    margin-bottom: 0;
}

.event_details .right_content h4 {
    font-size: 20px;
}

.blog-area {
    background: #fff;
    padding-bottom: 50px;
}

@media (max-width: 991px) {
    .blog-area {
        padding-bottom: 50px;
    }
}

@media (max-width: 991px) {
    .blog-area .home-blog-left {
        margin-bottom: 70px;
    }
}

.blog-area .home-blog-left h2 {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 30px;
}

@media (max-width: 767px) {
    .blog-area .home-blog-left h2 {
        font-size: 30px;
        line-height: 40px;
    }
}

.blog-area .home-blog-left p {
    margin-bottom: 0px;
}

.blog-area .home-blog-left .primary-btn2 {
    margin-top: 35px;
}

.single-blog {
    margin-bottom: 30px;
}

.single-blog .thumb {
    overflow: hidden;
}

.single-blog .thumb img {
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.single-blog .single-blog-info {
    padding: 35px 30px;
    background: #ececec;
}

.single-blog h4 {
    font-size: 20px;
    line-height: 30px;
    margin-top: 15px;
    margin-bottom: 25px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.single-blog a {
    color: #000;
}

.single-blog .tag {
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}

.single-blog .tag span {
    display: inline-block;
    margin-right: 10px;
    position: relative;
    padding-right: 20px;
}

.single-blog .tag span:after {
    content: "|";
    position: absolute;
    top: 0px;
    right: 4px;
    color: #666;
}

.single-blog .tag span:last-child:after {
    content: none;
}

.single-blog .meta-bottom {
    border-top: 1px solid #cfcfcf;
    padding-top: 20px;
}

.single-blog .meta-bottom a {
    display: inline-block;
    margin-bottom: 0px;
    color: #666;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.single-blog .meta-bottom a span {
    color: #da291c;
}

.single-blog .meta-bottom a:hover {
    color: #15181d;
}

.single-blog:hover img {
    transform: scale(1.1);
}

.single-blog:hover h4 {
    color: #da291c;
}

.media .post_item img {
    width: 200px;
}

.single-instagram {
    position: relative;
    overflow: hidden;
}

.single-instagram .instagram-img {
    position: relative;
}

.single-instagram .instagram-img:before {
    content: "";
    background: transparent;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 10;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.single-instagram .instagram-text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    z-index: 100;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.single-instagram .instagram-text i {
    display: inline-block;
    font-size: 36px;
    color: #fff;
}

.single-instagram:hover .instagram-img:before {
    background: rgba(0, 0, 0, 0.5);
}

.single-instagram:hover .instagram-text {
    opacity: 1;
    visibility: visible;
}

.cta-area {
    position: relative;
    background: #ececec;
    text-align: center;
    color: #fff;
    padding: 118px 0px;
}

@media (max-width: 991px) {
    .cta-area {
        padding: 80px 0px;
    }
}

.cta-area h1 {
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 60px;
}

@media (max-width: 767px) {
    .cta-area h1 {
        font-size: 30px;
    }
}

.cta-area p {
    margin-bottom: 20px;
}

.cta-area .form-control {
    background: #fff;
    height: 60px;
    border: 0px;
    border-radius: 0px;
    padding: 0 20px;
    font-size: 14px;
}

.cta-area .form-control:focus {
    box-shadow: none;
}

.cta-area .primary-btn {
    line-height: 58px;
}

.cta-area .info {
    color: #15181d;
    min-width: 150px;
    position: absolute;
}

.cta-area .info .error {
    color: #da291c;
}

.l_blog_item .l_blog_text .date {
    margin-top: 24px;
    margin-bottom: 15px;
}

.l_blog_item .l_blog_text .date a {
    font-size: 12px;
}

.l_blog_item .l_blog_text h4 {
    font-size: 18px;
    color: #15181d;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 0px;
    padding-bottom: 20px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.l_blog_item .l_blog_text h4:hover {
    color: #da291c;
}

.l_blog_item .l_blog_text p {
    margin-bottom: 0px;
    padding-top: 20px;
}

.causes_slider .owl-dots {
    text-align: center;
    margin-top: 80px;
}

.causes_slider .owl-dots .owl-dot {
    height: 14px;
    width: 14px;
    background: #eeeeee;
    display: inline-block;
    margin-right: 7px;
}

.causes_slider .owl-dots .owl-dot:last-child {
    margin-right: 0px;
}

.causes_slider .owl-dots .owl-dot.active {
    background: #da291c;
}

.causes_item {
    background: #fff;
}

.causes_item .causes_img {
    position: relative;
}

.causes_item .causes_img .c_parcent {
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0px;
    height: 3px;
    background: rgba(255, 255, 255, 0.5);
}

.causes_item .causes_img .c_parcent span {
    width: 70%;
    height: 3px;
    background: #da291c;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.causes_item .causes_img .c_parcent span:before {
    content: "75%";
    position: absolute;
    right: -10px;
    bottom: 0px;
    background: #da291c;
    color: #fff;
    padding: 0px 5px;
}

.causes_item .causes_text {
    padding: 30px 35px 40px 30px;
}

.causes_item .causes_text h4 {
    color: #15181d;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    cursor: pointer;
}

.causes_item .causes_text h4:hover {
    color: #da291c;
}

.causes_item .causes_text p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 0px;
}

.causes_item .causes_bottom a {
    width: 50%;
    border: 1px solid #da291c;
    text-align: center;
    float: left;
    line-height: 50px;
    background: #da291c;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

.causes_item .causes_bottom a+a {
    border-color: #eeeeee;
    background: #fff;
    font-size: 14px;
    color: #15181d;
}

.latest_blog_area {
    background: #f9f9ff;
}

.single-recent-blog-post {
    margin-bottom: 30px;
}

.single-recent-blog-post .thumb {
    overflow: hidden;
}

.single-recent-blog-post .thumb img {
    transition: all 0.7s linear;
}

.single-recent-blog-post .details {
    padding-top: 30px;
}

.single-recent-blog-post .details .sec_h4 {
    line-height: 24px;
    padding: 10px 0px 13px;
    transition: all 0.3s linear;
}

.single-recent-blog-post .date {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.single-recent-blog-post:hover img {
    transform: scale(1.23) rotate(10deg);
}

.tags .tag_btn {
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    border: 1px solid #eeeeee;
    display: inline-block;
    padding: 1px 18px;
    text-align: center;
    color: #15181d;
}

.tags .tag_btn:before {
    background: #da291c;
}

.tags .tag_btn+.tag_btn {
    margin-left: 2px;
}

.blog_categorie_area {
    padding-top: 30px;
    padding-bottom: 30px;
}

@media (min-width: 900px) {
    .blog_categorie_area {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

@media (min-width: 1100px) {
    .blog_categorie_area {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.categories_post {
    position: relative;
    text-align: center;
    cursor: pointer;
}

.categories_post img {
    max-width: 100%;
}

.categories_post .categories_details {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: rgba(34, 34, 34, 0.75);
    color: #fff;
    transition: all 0.3s linear;
    display: flex;
    align-items: center;
    justify-content: center;
}

.categories_post .categories_details h5 {
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    color: #fff;
    position: relative;
}

.categories_post .categories_details p {
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 0px;
}

.categories_post .categories_details .border_line {
    margin: 10px 0px;
    background: #fff;
    width: 100%;
    height: 1px;
}

.categories_post:hover .categories_details {
    background: rgba(222, 99, 32, 0.85);
}

.blog_item {
    margin-bottom: 50px;
}

.blog_details {
    padding: 30px 0 20px 10px;
    box-shadow: 0px 10px 20px 0px rgba(221, 221, 221, 0.3);
}

@media (min-width: 768px) {
    .blog_details {
        padding: 60px 30px 35px 35px;
    }
}

.blog_details p {
    margin-bottom: 30px;
}

.blog_details h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}

@media (min-width: 768px) {
    .blog_details h2 {
        font-size: 24px;
        margin-bottom: 15px;
    }
}

.blog-info-link li {
    float: left;
    font-size: 14px;
}

.blog-info-link li a {
    color: #999999;
}

.blog-info-link li i,
.blog-info-link li span {
    font-size: 13px;
    margin-right: 5px;
}

.blog-info-link li::after {
    content: "|";
    padding-left: 10px;
    padding-right: 10px;
}

.blog-info-link li:last-child::after {
    display: none;
}

.blog-info-link::after {
    content: "";
    display: block;
    clear: both;
    display: table;
}

.blog_item_img {
    position: relative;
}

.blog_item_img .blog_item_date {
    position: absolute;
    bottom: -10px;
    left: 10px;
    display: block;
    color: #fff;
    background: #da291c;
    padding: 8px 15px;
    border-radius: 5px;
}

@media (min-width: 768px) {
    .blog_item_img .blog_item_date {
        bottom: -20px;
        left: 40px;
        padding: 13px 30px;
    }
}

.blog_item_img .blog_item_date h3 {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0;
    line-height: 1.2;
}

@media (min-width: 768px) {
    .blog_item_img .blog_item_date h3 {
        font-size: 30px;
    }
}

.blog_item_img .blog_item_date p {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .blog_item_img .blog_item_date p {
        font-size: 18px;
    }
}

.blog_right_sidebar .widget_title {
    font-size: 20px;
    margin-bottom: 40px;
}

.blog_right_sidebar .widget_title::after {
    content: "";
    display: block;
    padding-top: 15px;
    border-bottom: 1px solid #f0e9ff;
}

.blog_right_sidebar .single_sidebar_widget {
    background: #fbf9ff;
    padding: 30px;
    margin-bottom: 30px;
}

.blog_right_sidebar .search_widget .form-control {
    height: 50px;
    border-color: #f0e9ff;
    font-size: 13px;
    color: #999999;
    padding-left: 20px;
    border-radius: 0;
    border-right: 0;
}

.blog_right_sidebar .search_widget .form-control::placeholder {
    color: #999999;
}

.blog_right_sidebar .search_widget .form-control:focus {
    border-color: #f0e9ff;
    outline: 0;
    box-shadow: none;
}

.blog_right_sidebar .search_widget .input-group button {
    background: #fff;
    border-left: 0;
    border: 1px solid #f0e9ff;
    padding: 4px 15px;
    border-left: 0;
}

.blog_right_sidebar .search_widget .input-group button i,
.blog_right_sidebar .search_widget .input-group button span {
    font-size: 14px;
    color: #999999;
}

.blog_right_sidebar .newsletter_widget .form-control {
    height: 50px;
    border-color: #f0e9ff;
    font-size: 13px;
    color: #999999;
    padding-left: 20px;
    border-radius: 0;
}

.blog_right_sidebar .newsletter_widget .form-control::placeholder {
    color: #999999;
}

.blog_right_sidebar .newsletter_widget .form-control:focus {
    border-color: #f0e9ff;
    outline: 0;
    box-shadow: none;
}

.blog_right_sidebar .newsletter_widget .input-group button {
    background: #fff;
    border-left: 0;
    border: 1px solid #f0e9ff;
    padding: 4px 15px;
    border-left: 0;
}

.blog_right_sidebar .newsletter_widget .input-group button i,
.blog_right_sidebar .newsletter_widget .input-group button span {
    font-size: 14px;
    color: #999999;
}

.blog_right_sidebar .post_category_widget .cat-list {
    padding-left: 0;
    list-style: none;
}

.blog_right_sidebar .post_category_widget .cat-list li {
    border-bottom: 1px solid #f0e9ff;
    transition: all 0.3s ease 0s;
    padding-bottom: 12px;
}

.blog_right_sidebar .post_category_widget .cat-list li:last-child {
    border-bottom: 0;
}

.blog_right_sidebar .post_category_widget .cat-list li a {
    font-size: 14px;
    line-height: 20px;
    color: #888888;
}

.blog_right_sidebar .post_category_widget .cat-list li a p {
    margin-bottom: 0px;
}

.blog_right_sidebar .post_category_widget .cat-list li+li {
    padding-top: 15px;
}

.blog_right_sidebar .post_category_widget .cat-list li:hover a {
    color: #da291c;
}

.blog_right_sidebar .popular_post_widget .post_item .media-body {
    justify-content: center;
    align-self: center;
    padding-left: 20px;
}

.blog_right_sidebar .popular_post_widget .post_item .media-body h3 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 6px;
    transition: all 0.3s linear;
}

.blog_right_sidebar .popular_post_widget .post_item .media-body h3:hover {
    color: #da291c;
}

.blog_right_sidebar .popular_post_widget .post_item img {
    width: 200px;
}

.blog_right_sidebar .popular_post_widget .post_item .media-body p {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 0px;
}

.blog_right_sidebar .popular_post_widget .post_item+.post_item {
    margin-top: 20px;
}

.blog_right_sidebar .tag_cloud_widget ul li {
    display: inline-block;
}

.blog_right_sidebar .tag_cloud_widget ul li a {
    display: inline-block;
    border: 1px solid #eeeeee;
    background: #fff;
    padding: 4px 20px;
    margin-bottom: 8px;
    margin-right: 5px;
    transition: all 0.3s ease 0s;
    color: #888888;
    font-size: 13px;
}

.blog_right_sidebar .tag_cloud_widget ul li a:hover {
    background: #da291c;
    color: #fff;
}

.blog_right_sidebar .instagram_feeds .instagram_row {
    display: flex;
    margin-right: -6px;
    margin-left: -6px;
}

.blog_right_sidebar .instagram_feeds .instagram_row li {
    width: 33.33%;
    float: left;
    padding-right: 6px;
    padding-left: 6px;
    margin-bottom: 15px;
}

.blog_right_sidebar .br {
    width: 100%;
    height: 1px;
    background: #eee;
    margin: 30px 0px;
}

.blog-pagination {
    margin-top: 80px;
}

.blog-pagination .page-link {
    font-size: 14px;
    position: relative;
    display: block;
    padding: 0;
    text-align: center;
    margin-left: -1px;
    line-height: 45px;
    width: 45px;
    height: 45px;
    border-radius: 0 !important;
    color: #8a8a8a;
    border: 1px solid #f0e9ff;
    margin-right: 10px;
}

.blog-pagination .page-link i,
.blog-pagination .page-link span {
    font-size: 13px;
}

.blog-pagination .page-link:hover {
    background-color: #fbf9ff;
}

.blog-pagination .page-item.active .page-link {
    background-color: #fbf9ff;
    border-color: #f0e9ff;
    color: #888888;
}

.blog-pagination .page-item:last-child .page-link {
    margin-right: 0;
}

.single-post-area .blog_details {
    box-shadow: none;
    padding: 0;
}

.single-post-area .social-links {
    padding-top: 10px;
}

.single-post-area .social-links li {
    display: inline-block;
    margin-bottom: 10px;
}

.single-post-area .social-links li a {
    color: #cccccc;
    padding: 7px;
    font-size: 14px;
    transition: all 0.2s linear;
}

.single-post-area .social-links li a:hover {
    color: #15181d;
}

.single-post-area .blog_details {
    padding-top: 26px;
}

.single-post-area .blog_details p {
    margin-bottom: 20px;
}

.single-post-area .quote-wrapper {
    background: rgba(130, 139, 178, 0.1);
    padding: 15px;
    line-height: 1.733;
    color: #888888;
    font-style: italic;
    margin-top: 25px;
    margin-bottom: 25px;
}

@media (min-width: 768px) {
    .single-post-area .quote-wrapper {
        padding: 30px;
    }
}

.single-post-area .quotes {
    background: #fff;
    padding: 15px 15px 15px 20px;
    border-left: 2px solid #da291c;
}

@media (min-width: 768px) {
    .single-post-area .quotes {
        padding: 25px 25px 25px 30px;
    }
}

.single-post-area .arrow {
    position: absolute;
}

.single-post-area .arrow i,
.single-post-area .arrow span {
    font-size: 20px;
    font-weight: 600;
}

.single-post-area .thumb .overlay-bg {
    background: rgba(0, 0, 0, 0.8);
}

.single-post-area .navigation-top {
    padding-top: 15px;
    border-top: 1px solid #f0e9ff;
}

.single-post-area .navigation-top p {
    margin-bottom: 0;
}

.single-post-area .navigation-top .like-info {
    font-size: 14px;
}

.single-post-area .navigation-top .like-info i,
.single-post-area .navigation-top .like-info span {
    font-size: 16px;
    margin-right: 5px;
}

.single-post-area .navigation-top .comment-count {
    font-size: 14px;
}

.single-post-area .navigation-top .comment-count i,
.single-post-area .navigation-top .comment-count span {
    font-size: 16px;
    margin-right: 5px;
}

.single-post-area .navigation-top .social-icons li {
    display: inline-block;
    margin-right: 15px;
}

.single-post-area .navigation-top .social-icons li:last-child {
    margin: 0;
}

.single-post-area .navigation-top .social-icons li i,
.single-post-area .navigation-top .social-icons li span {
    font-size: 14px;
    color: #999999;
}

.single-post-area .navigation-top .social-icons li:hover i,
.single-post-area .navigation-top .social-icons li:hover span {
    color: #da291c;
}

.single-post-area .blog-author {
    padding: 40px 30px;
    background: #fbf9ff;
    margin-top: 50px;
}

@media (max-width: 600px) {
    .single-post-area .blog-author {
        padding: 20px 8px;
    }
}

.single-post-area .blog-author img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-right: 30px;
}

@media (max-width: 600px) {
    .single-post-area .blog-author img {
        margin-right: 15px;
        width: 45px;
        height: 45px;
    }
}

.single-post-area .blog-author a {
    display: inline-block;
}

.single-post-area .blog-author p {
    margin-bottom: 0;
}

.single-post-area .blog-author h4 {
    font-size: 16px;
}

.single-post-area .navigation-area {
    border-bottom: 1px solid #eee;
    padding-bottom: 30px;
    margin-top: 55px;
}

.single-post-area .navigation-area p {
    margin-bottom: 0px;
}

.single-post-area .navigation-area h4 {
    font-size: 18px;
    line-height: 25px;
    color: #15181d;
}

.single-post-area .navigation-area .nav-left {
    text-align: left;
}

.single-post-area .navigation-area .nav-left .thumb {
    margin-right: 20px;
    background: #000;
}

.single-post-area .navigation-area .nav-left .thumb img {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.single-post-area .navigation-area .nav-left i,
.single-post-area .navigation-area .nav-left span {
    margin-left: 20px;
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.single-post-area .navigation-area .nav-left:hover i,
.single-post-area .navigation-area .nav-left:hover span {
    opacity: 1;
}

.single-post-area .navigation-area .nav-left:hover .thumb img {
    opacity: 0.5;
}

@media (max-width: 767px) {
    .single-post-area .navigation-area .nav-left {
        margin-bottom: 30px;
    }
}

.single-post-area .navigation-area .nav-right {
    text-align: right;
}

.single-post-area .navigation-area .nav-right .thumb {
    margin-left: 20px;
    background: #000;
}

.single-post-area .navigation-area .nav-right .thumb img {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.single-post-area .navigation-area .nav-right i,
.single-post-area .navigation-area .nav-right span {
    margin-right: 20px;
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.single-post-area .navigation-area .nav-right:hover i,
.single-post-area .navigation-area .nav-right:hover span {
    opacity: 1;
}

.single-post-area .navigation-area .nav-right:hover .thumb img {
    opacity: 0.5;
}

@media (max-width: 991px) {
    .single-post-area .sidebar-widgets {
        padding-bottom: 0px;
    }
}

.comments-area {
    background: transparent;
    border-top: 1px solid #eee;
    padding: 45px 0;
    margin-top: 50px;
}

@media (max-width: 414px) {
    .comments-area {
        padding: 50px 8px;
    }
}

.comments-area h4 {
    margin-bottom: 35px;
    color: #15181d;
    font-size: 18px;
}

.comments-area h5 {
    font-size: 16px;
    margin-bottom: 0px;
}

.comments-area a {
    color: #15181d;
}

.comments-area .comment-list {
    padding-bottom: 48px;
}

.comments-area .comment-list:last-child {
    padding-bottom: 0px;
}

.comments-area .comment-list.left-padding {
    padding-left: 25px;
}

@media (max-width: 413px) {
    .comments-area .comment-list .single-comment h5 {
        font-size: 12px;
    }

    .comments-area .comment-list .single-comment .date {
        font-size: 11px;
    }

    .comments-area .comment-list .single-comment .comment {
        font-size: 10px;
    }
}

.comments-area .thumb {
    margin-right: 20px;
}

.comments-area .thumb img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.comments-area .date {
    font-size: 14px;
    color: #cccccc;
    margin-bottom: 0;
    margin-left: 20px;
}

.comments-area .comment {
    margin-bottom: 10px;
    color: #777777;
}

.comments-area .btn-reply {
    background-color: transparent;
    color: #888888;
    padding: 5px 18px;
    font-size: 14px;
    display: block;
    font-weight: 400;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.comments-area .btn-reply:hover {
    color: #da291c;
}

.comment-form {
    border-top: 1px solid #eee;
    padding-top: 45px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.comment-form .form-group {
    margin-bottom: 30px;
}

.comment-form h4 {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 22px;
    color: #15181d;
}

.comment-form .name {
    padding-left: 0px;
}

@media (max-width: 767px) {
    .comment-form .name {
        padding-right: 0px;
        margin-bottom: 1rem;
    }
}

.comment-form .email {
    padding-right: 0px;
}

@media (max-width: 991px) {
    .comment-form .email {
        padding-left: 0px;
    }
}

.comment-form .form-control {
    border: 1px solid #f0e9ff;
    border-radius: 5px;
    height: 48px;
    padding-left: 18px;
    font-size: 13px;
    background: transparent;
}

.comment-form .form-control:focus {
    outline: 0;
    box-shadow: none;
}

.comment-form .form-control::placeholder {
    font-weight: 300;
    color: #999999;
}

.comment-form .form-control::placeholder {
    color: #777777;
}

.comment-form textarea {
    padding-top: 18px;
    border-radius: 12px;
    height: 100% !important;
}

.comment-form ::-webkit-input-placeholder {
    font-size: 13px;
    color: #777;
}

.comment-form ::-moz-placeholder {
    font-size: 13px;
    color: #777;
}

.comment-form :-ms-input-placeholder {
    font-size: 13px;
    color: #777;
}

.comment-form :-moz-placeholder {
    font-size: 13px;
    color: #777;
}

.whole-wrap {
    background-color: #f9f9ff;
}

.generic-banner {
    margin-top: 60px;
    background-color: #da291c;
    text-align: center;
}

.generic-banner .height {
    height: 600px;
}

@media (max-width: 767.98px) {
    .generic-banner .height {
        height: 400px;
    }
}

.generic-banner .generic-banner-content h2 {
    line-height: 1.2em;
    margin-bottom: 20px;
}

@media (max-width: 991.98px) {
    .generic-banner .generic-banner-content h2 br {
        display: none;
    }
}

.generic-banner .generic-banner-content p {
    text-align: center;
    font-size: 16px;
}

@media (max-width: 991.98px) {
    .generic-banner .generic-banner-content p br {
        display: none;
    }
}

.generic-content h1 {
    font-weight: 600;
}

.about-generic-area {
    background: #fff;
}

.about-generic-area p {
    margin-bottom: 20px;
}

.white-bg {
    background: #fff;
}

.section-top-border {
    padding: 50px 0;
    border-top: 1px dotted #eee;
}

.switch-wrap {
    margin-bottom: 10px;
}

.switch-wrap p {
    margin: 0;
}

.sample-text-area {
    background: #f9f9ff;
    padding: 100px 0 70px 0;
}

.sample-text {
    margin-bottom: 0;
}

.text-heading {
    margin-bottom: 30px;
    font-size: 24px;
}

.typo-list {
    margin-bottom: 10px;
}

@media (max-width: 767px) {
    .typo-sec {
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .element-wrap {
        margin-top: 30px;
    }
}

b,
sup,
sub,
u,
del {
    color: #da291c;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.1em;
}

.typography h1,
.typography h2,
.typography h3,
.typography h4,
.typography h5,
.typography h6 {
    color: #666;
}

.button-area {
    background: #f9f9ff;
}

.button-area .border-top-generic {
    padding: 70px 15px;
    border-top: 1px dotted #eee;
}

.button-group-area .genric-btn {
    margin-right: 10px;
    margin-top: 10px;
}

.button-group-area .genric-btn:last-child {
    margin-right: 0;
}

.genric-btn {
    display: inline-block;
    outline: none;
    line-height: 40px;
    padding: 0 30px;
    font-size: 0.8em;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.genric-btn:focus {
    outline: none;
}

.genric-btn.e-large {
    padding: 0 40px;
    line-height: 50px;
}

.genric-btn.large {
    line-height: 45px;
}

.genric-btn.medium {
    line-height: 30px;
}

.genric-btn.small {
    line-height: 25px;
}

.genric-btn.radius {
    border-radius: 3px;
}

.genric-btn.circle {
    border-radius: 20px;
}

.genric-btn.arrow {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.genric-btn.arrow span {
    margin-left: 10px;
}

.genric-btn.default {
    color: #15181d;
    background: #f9f9ff;
    border: 1px solid transparent;
}

.genric-btn.default:hover {
    border: 1px solid #f9f9ff;
    background: #fff;
}

.genric-btn.default-border {
    border: 1px solid #f9f9ff;
    background: #fff;
}

.genric-btn.default-border:hover {
    color: #15181d;
    background: #f9f9ff;
    border: 1px solid transparent;
}

.genric-btn.primary {
    color: #fff;
    background: #da291c;
    border: 1px solid transparent;
}

.genric-btn.primary:hover {
    color: #da291c;
    border: 1px solid #da291c;
    background: #fff;
}

.genric-btn.primary-border {
    color: #da291c;
    border: 1px solid #da291c;
    background: #fff;
}

.genric-btn.primary-border:hover {
    color: #fff;
    background: #da291c;
    border: 1px solid transparent;
}

.genric-btn.success {
    color: #fff;
    background: #4cd3e3;
    border: 1px solid transparent;
}

.genric-btn.success:hover {
    color: #4cd3e3;
    border: 1px solid #4cd3e3;
    background: #fff;
}

.genric-btn.success-border {
    color: #4cd3e3;
    border: 1px solid #4cd3e3;
    background: #fff;
}

.genric-btn.success-border:hover {
    color: #fff;
    background: #4cd3e3;
    border: 1px solid transparent;
}

.genric-btn.info {
    color: #fff;
    background: #38a4ff;
    border: 1px solid transparent;
}

.genric-btn.info:hover {
    color: #38a4ff;
    border: 1px solid #38a4ff;
    background: #fff;
}

.genric-btn.info-border {
    color: #38a4ff;
    border: 1px solid #38a4ff;
    background: #fff;
}

.genric-btn.info-border:hover {
    color: #fff;
    background: #38a4ff;
    border: 1px solid transparent;
}

.genric-btn.warning {
    color: #fff;
    background: #f4e700;
    border: 1px solid transparent;
}

.genric-btn.warning:hover {
    color: #f4e700;
    border: 1px solid #f4e700;
    background: #fff;
}

.genric-btn.warning-border {
    color: #f4e700;
    border: 1px solid #f4e700;
    background: #fff;
}

.genric-btn.warning-border:hover {
    color: #fff;
    background: #f4e700;
    border: 1px solid transparent;
}

.genric-btn.danger {
    color: #fff;
    background: #f44a40;
    border: 1px solid transparent;
}

.genric-btn.danger:hover {
    color: #f44a40;
    border: 1px solid #f44a40;
    background: #fff;
}

.genric-btn.danger-border {
    color: #f44a40;
    border: 1px solid #f44a40;
    background: #fff;
}

.genric-btn.danger-border:hover {
    color: #fff;
    background: #f44a40;
    border: 1px solid transparent;
}

.genric-btn.link {
    color: #15181d;
    background: #f9f9ff;
    text-decoration: underline;
    border: 1px solid transparent;
}

.genric-btn.link:hover {
    color: #15181d;
    border: 1px solid #f9f9ff;
    background: #fff;
}

.genric-btn.link-border {
    color: #15181d;
    border: 1px solid #f9f9ff;
    background: #fff;
    text-decoration: underline;
}

.genric-btn.link-border:hover {
    color: #15181d;
    background: #f9f9ff;
    border: 1px solid transparent;
}

.genric-btn.disable {
    color: #222, 0.3;
    background: #f9f9ff;
    border: 1px solid transparent;
    cursor: not-allowed;
}

.generic-blockquote {
    padding: 30px 50px 30px 30px;
    background: #fff;
    border-left: 2px solid #da291c;
}

@media (max-width: 991px) {
    .progress-table-wrap {
        overflow-x: scroll;
    }
}

.progress-table {
    background: #fff;
    padding: 15px 0px 30px 0px;
    min-width: 800px;
}

.progress-table .serial {
    width: 11.83%;
    padding-left: 30px;
}

.progress-table .country {
    width: 28.07%;
}

.progress-table .visit {
    width: 19.74%;
}

.progress-table .percentage {
    width: 40.36%;
    padding-right: 50px;
}

.progress-table .table-head {
    display: flex;
}

.progress-table .table-head .serial,
.progress-table .table-head .country,
.progress-table .table-head .visit,
.progress-table .table-head .percentage {
    color: #15181d;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 500;
}

.progress-table .table-row {
    padding: 15px 0;
    border-top: 1px solid #edf3fd;
    display: flex;
}

.progress-table .table-row .serial,
.progress-table .table-row .country,
.progress-table .table-row .visit,
.progress-table .table-row .percentage {
    display: flex;
    align-items: center;
}

.progress-table .table-row .country img {
    margin-right: 15px;
}

.progress-table .table-row .percentage .progress {
    width: 80%;
    border-radius: 0px;
    background: transparent;
}

.progress-table .table-row .percentage .progress .progress-bar {
    height: 5px;
    line-height: 5px;
}

.progress-table .table-row .percentage .progress .progress-bar.color-1 {
    background-color: #6382e6;
}

.progress-table .table-row .percentage .progress .progress-bar.color-2 {
    background-color: #e66686;
}

.progress-table .table-row .percentage .progress .progress-bar.color-3 {
    background-color: #f09359;
}

.progress-table .table-row .percentage .progress .progress-bar.color-4 {
    background-color: #73fbaf;
}

.progress-table .table-row .percentage .progress .progress-bar.color-5 {
    background-color: #73fbaf;
}

.progress-table .table-row .percentage .progress .progress-bar.color-6 {
    background-color: #6382e6;
}

.progress-table .table-row .percentage .progress .progress-bar.color-7 {
    background-color: #a367e7;
}

.progress-table .table-row .percentage .progress .progress-bar.color-8 {
    background-color: #e66686;
}

.single-gallery-image {
    margin-top: 30px;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
    height: 200px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.single-gallery-image:hover {
    opacity: 0.8;
}

.list-style {
    width: 14px;
    height: 14px;
}

.unordered-list li {
    position: relative;
    padding-left: 30px;
    line-height: 1.82em !important;
}

.unordered-list li:before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border: 3px solid #da291c;
    background: #fff;
    top: 4px;
    left: 0;
    border-radius: 50%;
}

.ordered-list {
    margin-left: 30px;
}

.ordered-list li {
    list-style-type: decimal-leading-zero;
    color: #da291c;
    font-weight: 500;
    line-height: 1.82em !important;
}

.ordered-list li span {
    font-weight: 300;
    color: #666;
}

.ordered-list-alpha li {
    margin-left: 30px;
    list-style-type: lower-alpha;
    color: #da291c;
    font-weight: 500;
    line-height: 1.82em !important;
}

.ordered-list-alpha li span {
    font-weight: 300;
    color: #666;
}

.ordered-list-roman li {
    margin-left: 30px;
    list-style-type: lower-roman;
    color: #da291c;
    font-weight: 500;
    line-height: 1.82em !important;
}

.ordered-list-roman li span {
    font-weight: 300;
    color: #666;
}

.single-input {
    display: block;
    width: 100%;
    line-height: 40px;
    border: none;
    outline: none;
    background: #fff;
    padding: 0 20px;
}

.single-input:focus {
    outline: none;
}

.input-group-icon {
    position: relative;
}

.input-group-icon .icon {
    position: absolute;
    left: 20px;
    top: 0;
    line-height: 40px;
    z-index: 3;
}

.input-group-icon .icon i {
    color: #797979;
}

.input-group-icon .single-input {
    padding-left: 45px;
}

.single-textarea {
    display: block;
    width: 100%;
    line-height: 40px;
    border: none;
    outline: none;
    background: #fff;
    padding: 0 20px;
    height: 100px;
    resize: none;
}

.single-textarea:focus {
    outline: none;
}

.single-input-primary {
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid transparent;
    outline: none;
    background: #fff;
    padding: 0 20px;
}

.single-input-primary:focus {
    outline: none;
    border: 1px solid #da291c;
}

.single-input-accent {
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid transparent;
    outline: none;
    background: #fff;
    padding: 0 20px;
}

.single-input-accent:focus {
    outline: none;
    border: 1px solid #eb6b55;
}

.single-input-secondary {
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid transparent;
    outline: none;
    background: #fff;
    padding: 0 20px;
}

.single-input-secondary:focus {
    outline: none;
    border: 1px solid #f09359;
}

.default-switch {
    width: 35px;
    height: 17px;
    border-radius: 8.5px;
    background: #fff;
    position: relative;
    cursor: pointer;
}

.default-switch input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.default-switch input+label {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #da291c;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.default-switch input:checked+label {
    left: 19px;
}

.single-element-widget {
    margin-bottom: 30px;
}

.primary-switch {
    width: 35px;
    height: 17px;
    border-radius: 8.5px;
    background: #fff;
    position: relative;
    cursor: pointer;
}

.primary-switch input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.primary-switch input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.primary-switch input+label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 8.5px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.primary-switch input+label:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.primary-switch input:checked+label:after {
    left: 19px;
}

.primary-switch input:checked+label:before {
    background: #da291c;
}

.confirm-switch {
    width: 35px;
    height: 17px;
    border-radius: 8.5px;
    background: #fff;
    position: relative;
    cursor: pointer;
}

.confirm-switch input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.confirm-switch input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.confirm-switch input+label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 8.5px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    cursor: pointer;
}

.confirm-switch input+label:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.confirm-switch input:checked+label:after {
    left: 19px;
}

.confirm-switch input:checked+label:before {
    background: #4cd3e3;
}

.primary-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background: #fff;
    position: relative;
    cursor: pointer;
}

.primary-checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.primary-checkbox input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #f1f1f1;
}

.primary-checkbox input:checked+label {
    background: url(../img/elements/primary-check.png) no-repeat center center/cover;
    border: none;
}

.confirm-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background: #fff;
    position: relative;
    cursor: pointer;
}

.confirm-checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.confirm-checkbox input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #f1f1f1;
}

.confirm-checkbox input:checked+label {
    background: url(../img/elements/success-check.png) no-repeat center center/cover;
    border: none;
}

.disabled-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background: #fff;
    position: relative;
    cursor: pointer;
}

.disabled-checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.disabled-checkbox input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #f1f1f1;
}

.disabled-checkbox input:disabled {
    cursor: not-allowed;
    z-index: 3;
}

.disabled-checkbox input:checked+label {
    background: url(../img/elements/disabled-check.png) no-repeat center center/cover;
    border: none;
}

.primary-radio {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #fff;
    position: relative;
    cursor: pointer;
}

.primary-radio input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.primary-radio input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #f1f1f1;
}

.primary-radio input:checked+label {
    background: url(../img/elements/primary-radio.png) no-repeat center center/cover;
    border: none;
}

.confirm-radio {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #fff;
    position: relative;
    cursor: pointer;
}

.confirm-radio input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.confirm-radio input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #f1f1f1;
}

.confirm-radio input:checked+label {
    background: url(../img/elements/success-radio.png) no-repeat center center/cover;
    border: none;
}

.disabled-radio {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #fff;
    position: relative;
    cursor: pointer;
}

.disabled-radio input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.disabled-radio input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #f1f1f1;
}

.disabled-radio input:disabled {
    cursor: not-allowed;
    z-index: 3;
}

.disabled-radio input:checked+label {
    background: url(../img/elements/disabled-radio.png) no-repeat center center/cover;
    border: none;
}

.default-select {
    height: 40px;
}

.default-select .nice-select {
    border: none;
    border-radius: 0px;
    height: 40px;
    background: #fff;
    padding-left: 20px;
    padding-right: 40px;
}

.default-select .nice-select .list {
    margin-top: 0;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    width: 100%;
    padding: 10px 0 10px 0px;
}

.default-select .nice-select .list .option {
    font-weight: 300;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    line-height: 28px;
    min-height: 28px;
    font-size: 12px;
    padding-left: 20px;
}

.default-select .nice-select .list .option.selected {
    color: #da291c;
    background: transparent;
}

.default-select .nice-select .list .option:hover {
    color: #da291c;
    background: transparent;
}

.default-select .current {
    margin-right: 50px;
    font-weight: 300;
}

.default-select .nice-select::after {
    right: 20px;
}

@media (max-width: 991px) {
    .left-align-p p {
        margin-top: 20px;
    }
}

.form-select {
    height: 40px;
    width: 100%;
}

.form-select .nice-select {
    border: none;
    border-radius: 0px;
    height: 40px;
    background: #fff !important;
    padding-left: 45px;
    padding-right: 40px;
    width: 100%;
}

.form-select .nice-select .list {
    margin-top: 0;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    width: 100%;
    padding: 10px 0 10px 0px;
}

.form-select .nice-select .list .option {
    font-weight: 300;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    line-height: 28px;
    min-height: 28px;
    font-size: 12px;
    padding-left: 45px;
}

.form-select .nice-select .list .option.selected {
    color: #da291c;
    background: transparent;
}

.form-select .nice-select .list .option:hover {
    color: #da291c;
    background: transparent;
}

.form-select .current {
    margin-right: 50px;
    font-weight: 300;
}

.form-select .nice-select::after {
    right: 20px;
}

.contact-info {
    margin-bottom: 12px;
}

.contact-info__icon {
    margin-right: 20px;
}

.contact-info__icon i,
.contact-info__icon span {
    color: #8f9195;
    font-size: 27px;
}

.contact-info .media-body h3 {
    font-size: 16px;
    margin-bottom: 0;
}

.contact-info .media-body h3 a {
    color: #15181d;
}

.contact-info .media-body p {
    color: #999999;
}

.contact-title {
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 20px;
}

.form-contact label {
    color: #da291c;
    font-size: 14px;
}

.form-contact .form-group {
    margin-bottom: 30px;
}

.form-contact .form-control {
    border: 1px solid #f0e9ff;
    border-radius: 5px;
    height: 48px;
    padding-left: 18px;
    font-size: 13px;
    background: transparent;
}

.form-contact .form-control:focus {
    outline: 0;
    box-shadow: none;
}

.form-contact .form-control::placeholder {
    font-weight: 300;
    color: #999999;
}

.form-contact textarea {
    border-radius: 12px;
    height: 100% !important;
}

.footer-area {
    background: #15181d;
    padding: 130px 0px;
}

@media (max-width: 991px) {
    .footer-area {
        padding: 80px 0px 40px;
    }
}

@media (max-width: 991px) {
    .single-footer-widget {
        margin-bottom: 40px;
    }
}

.single-footer-widget p {
    margin-bottom: 15px;
}

.single-footer-widget p:last-child {
    margin-bottom: 0;
}

.single-footer-widget p a {
    color: #da291c;
}

.single-footer-widget .sm-head {
    color: #da291c;
    margin-bottom: 0px;
}

.single-footer-widget .sm-head span {
    position: relative;
    margin-left: -40px;
    margin-right: 10px;
    display: inline-block;
    width: 33px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    background: #da291c;
    color: #ffffff;
}

.tp_widgets .list li {
    margin-bottom: 12px;
}

.tp_widgets .list li a {
    color: #7b838a;
    font-family: "Roboto", sans-serif;
}

.tp_widgets .list li a:hover {
    color: #da291c;
}

.tp_widgets .list li:last-child {
    margin-bottom: 0px;
}

.tp_widgets p {
    color: #fff;
}

.footer_title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    font-family: "Lora", serif;
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 28px;
}

@media (max-width: 991px) {
    .footer_title {
        margin-bottom: 20px;
    }
}

.footer_title.large_title {
    font-size: 36px;
    font-weight: 600;
}

@media (max-width: 1199px) {
    .footer_title.large_title {
        font-size: 18px;
    }
}
